[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
attrs = "*"
pandas = "*"
scipy = "*"
sklearn = "*"
statsmodels = "*"
bootstrapped = "*"
pipfile = "*"
requests = "*"
z3-solver = "*"
urllib3 = ">=1.24.2"
lark-parser = ">=0.7.8"
pydot = ">=1.4.1"

[requires]
python_version = "3.7"
